.heading{
    background-color: rgb(63, 63, 66);
    color: white;
    width: 100vw;
    height: 25vh;
    font-family: fantasy;
    text-align: center;
    padding: 20px;
}

.heading p {
    font-size: 20px;
}
.input-group {
    margin: 2px;
}
.input-group-text{
    width: 10vh;
}

.scheduleLine {
    margin: 20px;
}

.done{
    background-color: grey;
}

.doing{
    background-color: green;

}
.will{
    background-color: blue;
}